<tr>
    <td style="border-bottom: thin solid;"><a class="[LOCO_COLOR] lakVozidla" href="/get/loco/[LOCO_FULL_ID]", style="text-decoration: none">[LOCO_ID]</a></td>
    <td style="border-bottom: thin solid;">[LOCO_FUNCTION]</td>
    <td style="border-bottom: thin solid;"><a href="/get/train/[LOCO_TRAIN_NUM]", style="text-decoration: none; color: inherit">[LOCO_TRAIN_NUM]</a></td>
    <td style="border-bottom: thin solid;"><a href="/get/train/[LOCO_TRAIN_NUM_RESERVATION]", style="text-decoration: none; color: inherit">[LOCO_TRAIN_NUM_RESERVATION]</a></td>
    <td style="border-bottom: thin solid;">[LOCO_POSITION]</td>
    <td style="border-bottom: thin solid;">[LOCO_TIME]</td>
</tr>